---
layout: project.njk
title: Youth Capacity Building Bootcamp 2025
date: 2025-01-25
tag: events
description: Under the Manusher Jonno Foundation, five BSCF youth representatives participated in the Climate Science and Negotiation Youth Capacity Building Bootcamp 2025 in Manikganj. The bootcamp brought together young leaders and climate change activists from across the country to exchange ideas, build skills, and enhance youth engagement in environmental initiatives.


featured:
    - /projects/youth_capacity_bootcamp_2025/1.jpg

images:
   
    - /projects/youth_capacity_bootcamp_2025/2.jpg
    - /projects/youth_capacity_bootcamp_2025/3.jpg
    - /projects/youth_capacity_bootcamp_2025/4.jpg
    - /projects/youth_capacity_bootcamp_2025/5.jpg


tags: projects
---
Five youth representatives from the Bangladesh Socio-Cultural Forum participated in the Climate Science and Negotiation Youth Capacity Building Bootcamp 2025, organized by the Manusher Jonno Foundation. The bootcamp began on 26 October at the Human Resource Development Centre in Manikganj. BSCF’s team included Redwan Ahmed, Taiyeba Tabbassum Ahmed Rafa, Labib Ahmed, Preeti Dutta Roy, and Safiat Rahman Sifat.

The event brought together enthusiastic young leaders and climate change activists from organizations across Bangladesh, providing a platform to develop skills in climate science, negotiation, and leadership. Participants engaged in interactive sessions, workshops, and collaborative exercises designed to enhance understanding of environmental issues and strengthen youth-driven initiatives. The BSCF team actively contributed to discussions, shared experiences, and built networks with peers committed to addressing climate change. Participation in this bootcamp offered valuable learning, inspiration, and motivation, reinforcing BSCF’s commitment to empowering youth and preparing them to become future changemakers in science, climate action, and community development.
