---
layout: project.njk
title: Science Education Policy Panel Discussion
date: 
description: On the closing day of the 2nd BSCF Astronomy Camp 2025, IID and Bangladesh Socio-Cultural Forum jointly organized a panel discussion on science education policy and practice in Bangladesh, engaging educators, policymakers, and young participants in meaningful dialogue. 


featured:
    - /projects/paneldiscussion/1.jpg

images:
   
    - /projects/paneldiscussion/2.jpg
    - /projects/paneldiscussion/3.jpg
    - /projects/paneldiscussion/4.jpg
    - /projects/paneldiscussion/5.jpg
    - /projects/paneldiscussion/6.jpg
    - /projects/paneldiscussion/7.jpg
    - /projects/paneldiscussion/8.jpg
    - /projects/paneldiscussion/9.jpg

tags: projects
---
On the closing day of the 2nd BSCF Astronomy Camp 2025 organized by Bangladesh Socio-Cultural Forum, a panel discussion was jointly arranged by IID and BSCF focusing on Science Education Policy and Practice in the Context of Bangladesh. The session was moderated by Mahfuz Mishu, Editor of International Affairs at Jamuna Television.

The panel brought together diverse voices, including Professor Dr Raihana Shams Islam from the Department of Physics at the University of Rajshahi; Shama Obaed, Organizing Secretary of Faridpur Division of the Bangladesh Nationalist Party; Samanta Sharmeen, Senior Joint Convener of the National Citizen Party; and Nurul Islam Bulbul, Central Committee Member of Bangladesh Jamaat e Islami.

Young activist Umama Fatima, Rezual Karim from Rajbari Government High School, Saeed Ahmed, Chief Executive of IID, and Camp Chief Samin Yasar Saad also shared insights. The discussion highlighted existing challenges, policy gaps, and future possibilities of science education in Bangladesh. Political representatives expressed commitment to strengthening science education nationwide. The event concluded at the Kazi Nazrul Islam Auditorium of the University of Rajshahi, leaving a strong positive impact on young participants and inspiring them toward scientific thinking, civic awareness, and informed engagement.
