---
layout: initiative.njk
title: SheSTEM Technical Workshop 
date: 
tag: events
description: The SheSTEM x BSCF technical workshop successfully explored bridging research gaps using digital tools, featuring valuable insights from Professor Dr Md Abu Reza and active participation from enthusiastic researchers.


featured:
    - /initiatives/technicalworkshop/1.jpg

images:
   
    - /initiatives/technicalworkshop/2.jpg
    - /initiatives/technicalworkshop/3.jpg
    - /initiatives/technicalworkshop/4.jpg
    - /initiatives/technicalworkshop/5.jpg
    - /initiatives/technicalworkshop/6.jpg
    - /initiatives/technicalworkshop/7.jpg
    - /initiatives/technicalworkshop/8.jpg
    - /initiatives/technicalworkshop/9.jpg

tags: initiatives
---
The SheSTEM BSCF Technical Workshop on Bridging the Research Gap through Digital Tools concluded successfully with strong participation from students and researchers. The session featured an insightful presentation by Professor Dr Md Abu Reza Director of IQAC at the University of Rajshahi who shared practical strategies for enhancing research quality using digital tools. Participants gained valuable knowledge on modern research methods skill development and innovation. The interactive discussion encouraged collaboration curiosity and confidence. The workshop reflected SheSTEM and BSCF commitment to empowering researchers strengthening academic skills and fostering a culture of innovation across institutions.