---
layout: project.njk
title: Future STEM Leaders Program
date: 
tag: events
description: The STEM Leadership Closing Ceremony concluded the Future STEM Leaders Program organized by Bangladesh Socio-Cultural Forum in collaboration with She-STEM and Rajshahi Novotheatre. Held on 13 November, it celebrated a month-long STEM training journey for students from the University of Rajshahi and Rajshahi University of Engineering & Technology, encouraging women’s participation in STEM.




featured:
    - /projects/futurestemleaders/1.jpg

images:
   
    - /projects/futurestemleaders/2.jpg
    - /projects/futurestemleaders/3.jpg
    - /projects/futurestemleaders/4.jpg
    - /projects/futurestemleaders/5.jpg
    - /projects/futurestemleaders/6.jpg
    - /projects/futurestemleaders/7.jpg
    - /projects/futurestemleaders/8.jpg
    - /projects/futurestemleaders/9.jpg

tags: projects
---
The Bangladesh Socio-Cultural Forum (BSCF) Future STEM Leaders Program was successfully organized, marking the completion of a remarkable month-long journey. The closing ceremony of the program was held on 13 November at the Multipurpose Hall of Rajshahi Novotheatre.
A total of 30 female students and 6 male students from the University of Rajshahi and Rajshahi University of Engineering & Technology (RUET) participated in the initiative. Throughout October, a series of sessions were conducted at Rajshahi Novotheatre, covering Human Resource Management, Research Methodology, Basics of Telescopes, and Innovation. Various theoretical and hands-on sessions were also arranged to encourage women's participation in science education.
During the program, participants engaged in multiple modules including Telescope Innovation, Research Paper Writing, Digital Identity, and Professional Development. Faculty members from the University of Rajshahi and technical experts from Novotheatre served as trainers in these sessions.

The program was supervised by
Professor Dr. Raihana Shams Islam, Department of Physics, University of Rajshahi
Professor Dr. Ekram Hossain, Department of Philosophy, University of Rajshahi
Professor Dr. Habibur Rahman, Associate Professor, Department of Folklore & Social Development Studies, University of Rajshahi
Oishi Jyoti, Assistant Professor, ECE Department, RUET
Md. Ebadat Hossain, Deputy Director, Rajshahi Novotheatre

Niloy Saha, CEO, BSCF

At the closing and award ceremony, the Deputy Commissioner of Rajshahi, Afia Akhter, attended as the Chief Guest.
Professor Dr. Raihana Shams Islam served as the Graduation Speaker.
Special Guests included Professor Dr. Md. Mozammel Hossain Bokul, Omar Farhan Khan, Senior Business Consultant at LightCastle Partners, and Nazmul Kabir Al Mehmud.
The program was jointly organized by BSCF, She-STEM, and Rajshahi Novotheatre    
