---
layout: project.njk
title: BSCF Astronomy Olympiad 2025
tag: flagship
date: 2025-10-11
description: The Closing and Prize Giving Ceremony of the 2nd BSCF Astronomy Camp 2025 celebrated participant excellence through the Astro Olympiad and group presentations highlighting curiosity teamwork learning and a shared passion for astronomy and discovery.


featured:
    - /projects/2ndastrocamp-finale/1.jpg

images:
   
    - /projects/2ndastrocamp-finale/2.jpg
    - /projects/2ndastrocamp-finale/3.jpg
    - /projects/2ndastrocamp-finale/4.jpg
    - /projects/2ndastrocamp-finale/5.jpg
    - /projects/2ndastrocamp-finale/6.jpg
    - /projects/2ndastrocamp-finale/7.jpg
    - /projects/2ndastrocamp-finale/8.jpg
    - /projects/2ndastrocamp-finale/9.jpg
    - /projects/2ndastrocamp-finale/10.jpg
    - /projects/2ndastrocamp-finale/11.jpg
    

tags: projects
---
The Closing and Prize Giving Ceremony of the 2nd BSCF Astronomy Camp 2025 marked the successful conclusion of an inspiring three day journey filled with learning curiosity and exploration. The final day brought together participants mentors and guests to celebrate dedication teamwork and scientific enthusiasm developed throughout the camp. One of the highlights of the program was the Astro Olympiad which challenged participants to apply their astronomical knowledge problem solving skills and critical thinking in a competitive yet friendly environment. Alongside this group presentations showcased creativity collaboration and a deeper understanding of cosmic concepts.

Throughout AstroCamp 2025 participants demonstrated a strong passion for astronomy and a growing interest in STEM disciplines. Champions were awarded certificates and medals by honorable guests acknowledging their commitment and outstanding performance. The presence of distinguished representatives from government academic scientific and professional institutions added inspiration and encouragement for young learners to pursue science and discovery. The ceremony reflected values of unity knowledge sharing and mutual support creating lasting memories for all involved. As the camp concluded it left participants motivated to continue exploring the universe strengthening their skills and contributing to the future of astronomy and scientific innovation across the country
