---
layout: project.njk
title: SheSTEM Fireside Chat
date: 
tag: events
description: She-STEM Fireside Chat with BSCF concluded successfully, featuring inspiring stories from Munaf Mojib Chowdhury, Prof Dr Sabrina Naz, and Mst Rumana Afroze, moderated by Md Sahariar Hasan Jisun on STEM.


featured:
    - /projects/she-stem-fireside-Chat/1.jpg

images:
   
    - /projects/she-stem-fireside-Chat/2.jpg
    - /projects/she-stem-fireside-Chat/3.jpg
    - /projects/she-stem-fireside-Chat/4.jpg
    - /projects/she-stem-fireside-Chat/5.jpg
    - /projects/she-stem-fireside-Chat/6.jpg
    - /projects/she-stem-fireside-Chat/7.jpg
    - /projects/she-stem-fireside-Chat/8.jpg
    - /projects/she-stem-fireside-Chat/9.jpg

tags: projects
---
The She-STEM Fireside Chat, organized in association with Bangladesh Socio-Cultural Forum, concluded successfully with meaningful dialogue and inspiration. Esteemed speakers Munaf Mojib Chowdhury, Prof Dr Sabrina Naz, and Mst Rumana Afroze shared personal journeys, professional challenges, and lessons learned in STEM fields. The session was thoughtfully moderated by Md Sahariar Hasan Jisun, creating an open and engaging discussion. Participants gained insights into leadership, resilience, and career growth, while exploring opportunities and future possibilities for women in STEM. The conversation encouraged confidence, ambition, and continued participation in science, technology, engineering, and mathematics across academic and professional communities nationwide together today onward.